.btn-h1-spacing{
	margin-top: 18px;
}

.image-opacity {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.image-opacity:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}